:root{
 --dark-theme: #1a1a1a;
 --light-theme: #e3dfdf;
 --merged-theme: rgb(82, 73, 73);
 --pitch-black-theme: black;
 --whitest-theme: white;
 --default-theme: white;
 --default-font-color: rgb(0, 0, 0);
 --dark-theme-font-color: rgb(255, 255, 255);
}
*{
    margin: 0;
}
body{
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p, a, ul, li, div, img{
    font-family: trebuchet ms;
    color: white;
}
#topbar-stage1{
    top: 0;
    display: flex;
    position: fixed;
    border-bottom: #1a1a1a solid 1px;
    width: 100%;
    height: 70px;
    background: var(--default-theme);
    color: var(--default-font-color);
    z-index: 999;
}
#body-stage1{
    top: 7em;
    position: absolute;
    width: 90%;
    left: 2em;

}
#article-stage1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--default-font-color);
    
}
#settingSidebar{
    transition: 1s;
    background-color: black;
    height: 100vh;
    width: 0;
    display: flex;
    position: fixed;
    z-index: 998;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    padding-top: 20px;
    align-items: center;
}
#settingsContainer {
    transition: 1s;
    height: 100%;
    width: 0;
    display: flex;
    position: relative;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#settingsSwitch {
    background: black;
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50px;
    align-items: center;
    display: grid;
    justify-content: center;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
    z-index: 999;
    transition: 1s;
}
#addArticles-stage1{
    bottom: 0;
    background-color: var(--dark-theme);
    height: 5em;
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color:var(--dark-theme-font-color);
}
.articleItem{
    color: var(--dark-theme-font-color);
    transition: 0.5s;
    width: 33%;
    text-align: center;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS';
    text-decoration: none;
}
.articleItem:hover{
    cursor: pointer;
    background-color: white;
    color: var(--default-font-color);
}
#articleHeader{
    font-size: 50px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    left: 40%;
    font-family: trebuchet MS;
} 
#settingsHeader{
    font-family: trebuchet MS;
    margin: 10px;
    font-size: 50px;
}
div#infoSVG {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 2em;
    height: 2em;
    border-radius: 10px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
}
div#infoPopupWindow {
    height: 50%;
    width: 50%;
    position: absolute;
    overflow: hidden;
    top: calc(25% - 25px);
    right: calc(25% - 25px);
    background: #1e1c1c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    font-family: trebuchet MS;
    z-index: 1000;
    color: white;
}
div#popupShadow {
    height: 100vh;
    width: 100%;
    background: rgb(0 0 0 / 77%);
    position: fixed;
    z-index: 1000;
}
div#infoContainer{
    transition: 0.5s;
}
div#exitInfo {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
div#gCon {
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gCube {
    width: 110px;
    height: 110px;
    background: rgb(0, 0, 0);
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    margin: 10px;
}
.gCube:hover {
    width: 180px;
    height: 180px;
    margin: 15px;
}

.gCube:active {
    transition: 0.2s;
    width: 110px;
    height: 110px;
}
.gCube > img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
div#themeContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.themeSelector {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    margin: 5px;
}
.themeSelector:hover {
    width: 40px;
    height: 40px;
}
.themeSelector:active {
    width: 29px;
    height: 29px;
    transition: 0.2s;
}
.selectedTheme {
    border: 2px white solid;
}
div#theme1 {
    background: linear-gradient(127deg, rgba(6,0,172,1) 0%, rgba(102,0,255,1) 100%);
}
div#theme2 {
    background: linear-gradient(124deg, rgba(9,250,41,1) 0%, rgba(19,207,154,1) 33%, rgba(20,132,227,1) 93%);
}
div#theme3 {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
div#theme4 {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
div#theme5 {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
div#gitSVG {
    left: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
}
div#discSVG {
    position: absolute;
    top: 20px;
    left: calc(45px + 1em);
    cursor: pointer;
}
div.backArrow {
    cursor: pointer;
    height: 35px;
    width: 35px;
    position: fixed;
    background: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    left: 10px;
    top: 10px;
    z-index: 99999999999999999;
}
div#s2 {
    height: 100vh;
    width: 100%;
}
div#dateTime {
    display: flex;
    position: fixed;
    right: 1px;
    background: black;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    top: 1px;
}
.themedBackground {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: inherit;
}
#apps > div{
    z-index: 99999;
    position: absolute;
    transition: 0.6s;     
}
